<%= form_for @user do |f| %>
  <div>
    <%= render 'shared/errors', object: @user %>
  </div>
  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true, size: 30 %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name, size: 30 %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.email_field :email, size: 30 %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password, size: 30 %>
  </p>
  <p>
    <%= f.label :password_confirmation, 'Password Confirmation' %><br />
    <%= f.password_field :password_confirmation, size: 30 %>
  </p>
  <p>
    <% if @user.new_record? %>
      <%= f.submit 'Create Account' %>
    <% else %>
      <%= f.submit 'Update Account' %>
    <% end %>
    | <%= link_to 'Cancel', root_path %>
  </p>
  <p>Already a User? <%= link_to 'Sign In', '#' %></p>
<% end %>
