<header>
  <h1><%= @user.username %></h1>
</header>

<div>
  <%= profile_image_for(@user) %>
</div>

<h3><%= @user.name %></h3>
<h4><%= @user.email %></h4>
<br />

<% if @pledges.any? %>
  <h4>Pledges</h4>
  <ol>
    <% @pledges.each do |pledge| %>
      <li>
        <p><%= link_to pledge.project.name, pledge.project %></p>
        <p>&quot;<%= pledge.comment %>&quot;</p>
        <p><%= number_to_currency(pledge.amount) %></p>
      </li>
    <% end %>
  </ol>
<% end %>
<br />

<% if current_user?(@user) %>
  <nav>
    <%= link_to 'Edit Account', edit_user_path(@user) %> |
    <%= link_to 'Delete Account', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
  </nav>
<% end %>

<% if @causes.any? %>
  <h4>Causes</h4>
  <ul>
    <% @causes.each do |cause| %>
      <li><%= link_to cause.name, cause %></li>
    <% end %>
  </ul>
<% end %>
