<header>
  <h1>Projects</h1>
</header>

<article class="project">
  <% @projects.each do |project| %>
    <header>
      <%= image_for(project) %>
      <h2><%= link_to project.name, project %></h2>
    </header>

    <h3><%= project.website %></h3>

    <table>
      <tr>
        <th>Description:</th>
        <td><%= truncate(project.description, length: 40, separator: ' ') %></td>
      </tr>
      <tr>
        <th>Target Pledge Amount:</th>
        <td><%= number_to_currency(project.target_pledge_amount) %></td>
      </tr>
      <tr>
        <th>Pledging Duration:</th>
        <td>
          <%= pledging_duration(project) %> 
          <strong>(<%= project.pledging_ends_on %>)</strong>
        </td>
      </tr>
      <tr>
        <th>Team Members:</th>
        <td><%= project.team_members %></td>
      </tr>
    </table>
  <% end %>
</article>
