<h1><%= @project.name %></h1>
<%= image_for(@project) %>
<h2><%= @project.website %></h2>
<h2><%= link_to "Pledges", project_pledges_path(@project) %></h2>


<h3>Description:</h3>
<p><%= @project.description %></p>

<h3>Target Pledge Amount:</h3>
<p><%= number_to_currency(@project.target_pledge_amount) %></p>

<h3>Pledging Duration:</h3>
<p>
  <%= pledging_duration(@project) %>
  <strong>(<%= @project.pledging_ends_on %>)</strong>
</p>

<h3>Team Members:</h3>
<p><%= @project.team_members %></p>

<%= pledge_link_for(@project) %>

<footer>
<br />
  <nav>
    <%= link_to "Edit", edit_project_path(@project) %> ||
    <%= link_to "Delete", @project, method: :delete, data: { confirm: 'Are you sure?' } %>
  </nav>
</footer>
