<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Crowdfund", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav pull-right">
        <% if current_user %>
          <li><%= link_to current_user.username, current_user %></li>
          <li><%= link_to 'Account Settings', edit_user_path(current_user) %></li>
          <li><%= link_to 'Sign Out', session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Sign In", signin_path %></li>
          <li><%= link_to "Sign Up", signup_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
